.body2{
    margin: 10px 50px;
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: row;
}

#main-body{
    width: 70%;
    margin-right: 10px;
    height: 100%;
}

#announce{
    border: 1px solid darkgray;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    padding: 0px 10px;
}

#announce>p{
    font-weight: 600;
    white-space: nowrap;    /*자동 개행 해제*/
}

#category{
    display: flex;
    flex-direction: row;
    font-weight: 600;
    gap: 20px;
}

#category>p{
    cursor: pointer;
}

#news{
    border: 1px solid darkgray;
    height: calc(100% - 65px);
}

#news>img{
    width: 100%;
    height: auto; /* 가로 너비에 맞춰서 비율 유지 */
    display: block; /* 인라인 요소를 블록 요소로 변환하여 여백을 적용 */
}

#shopping{
    border: 1px solid darkgray;
    width: 30%;
}

#shopping>img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#footer{
    width: 31.6%;
}