.navigator{
    border: 1px solid darkgray;
    margin: 10px 50px;
    width: 80%;
    height: 60px;

    position: relative;
    z-index: 200;
    background-color: white;
}
#navi{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
}
ul, li, ol{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
    color: gray;
    font-size: 15px;
    font-weight: 800;
    white-space: nowrap;    /*자동 개행 해제*/
}
#navi{
    height: 100%;
}
#navi > li{
    float: left;
    border: 1px solid white;
    width: 200px;
    height: 100%;
    text-align: center;
    flex-direction: column;
}
#navi a{
    font-size: 15px;
    font-weight: 900;
    width: 100%;
    height: 100%;
    display: block;
    /* vertical-align: middle; 블럭일 때는 안된다. */
    line-height: 35px;
}
#navi a:hover{
    color: black;
    scale: 1.08;
}
#navi > li > ul{
    display: none;
}
#navi > li > ul a{
    font-size: 15px;
}
#navi > li > a:hover + ul{
    display: block;
    background-color: beige;
}
#navi > li > ul:hover{
    display: block;
    background-color: beige;
}